Node-Red/flows.json
[{"id":"1d0dbcfd.bbb823","type":"simple-queue","z":"88bb00ea.f082c","name":"Queue","firstMessageBypass":false,"bypassInterval":"2000","x":370,"y":160,"wires":[["1cdc2608.fc240a","e6c154b4.a731f8"]]},{"id":"710d14de.4931bc","type":"http in","z":"88bb00ea.f082c","name":"","url":"/send/coupon","method":"post","upload":false,"swaggerDoc":"","x":190,"y":200,"wires":[["4c689c43.e132c4","1d0dbcfd.bbb823"]]},{"id":"4c689c43.e132c4","type":"function","z":"88bb00ea.f082c","name":"","func":"msg.payload = { status: 'success', message: 'Add Queue' }\nreturn msg","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["81916366.2f52"]]},{"id":"81916366.2f52","type":"http response","z":"88bb00ea.f082c","name":"","statusCode":"","headers":{},"x":550,"y":240,"wires":[]},{"id":"1cdc2608.fc240a","type":"function","z":"88bb00ea.f082c","name":"","func":"const coupon_id = msg.payload.coupon_id\nconst userEmail = msg.payload.email\n\nmsg.payload = {}\nmsg.payload = { \n    'email': 'mmosconii@gmail.com',\n    'password': '12345678',\n    'coupon_id': coupon_id,\n    'userEmail': userEmail\n}\nreturn msg","outputs":1,"noerr":0,"x":550,"y":160,"wires":[["5f02be4.f74034","f4535bd1.036698"]]},{"id":"e63629c6.7cf3c8","type":"debug","z":"88bb00ea.f082c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":80,"wires":[]},{"id":"e6c154b4.a731f8","type":"debug","z":"88bb00ea.f082c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":80,"wires":[]},{"id":"5f02be4.f74034","type":"http request","z":"88bb00ea.f082c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://aja-backend-api-for-api-team.herokuapp.com/send/coupon/users","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":160,"wires":[["e63629c6.7cf3c8"]]},{"id":"f4535bd1.036698","type":"debug","z":"88bb00ea.f082c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":80,"wires":[]}]